<meta http-equiv="refresh" content="10" />
<style>
  .all { padding: 10px; } .header { font-size: 50; background-color: #7688a6;
  position: fixed; width: 100%; height: 50px; display: flex; padding: 0px 8px
  7px 8px; font-weight: bold;} h4 {color: darkred} .side {height: 100%; width:
  400px; position: fixed; z-index: 1; top: 50px; left: 20px; overflow-x: scroll;
  padding-top: 20px; overflow-y: scroll;} .main{margin-left: 500px; padding:
  50px 10px;} a {color: inherit; text-decoration: none;} .grid {display: grid;
  grid-template-columns: auto auto; padding-right: 50px; } .grid_item
  {background-color: lightgray; padding: 10px; margin: 15px; width: 30vw;}
  .student {padding-bottom: 5px;} .code { white-space: pre-line; font-family:
  monospace;} .student_list{overflow:auto; height: 175px; border:1px solid #ccc;
  padding-left: 15px;}
</style>
<div class="header">
  <a href="/">
    Voltron
  </a>
</div>
<div class="all">
  <div>
    <div class="side">
      <h2>Admin</h2>
      <hr />
      <div class="student_list">
        <h3>
          Instructors:
        </h3>
        {{#each instructors}}
          <div class="student">
            {{this.name}}: Class
            {{this.class_id}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="main">
      <h2>Register a new instructor: {{{name}}}</h2>
      <hr />
        <div class="register_instructor">
          <form
            action="/register-instructor"
            method="post"
            accept-charset="utf-8"
          >
            <label>Instructor name:
              <p>
                <input name="instructor_name" />
              </p>
            </label>
            <label>Class ID:
              <p>
                <input name="class_id" />
              </p>
            </label>
            <input type="submit" value="Submit" />
          </form>
          {{#if fail}}
            <h4>
              <b>Failed to register new instructor:</b>
              {{{fail_message}}}
            </h4>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>