<style>
  .all { padding: 10px; } h1 { font-size: 50; display: inline; text-align:
  center; padding: 10px; } .header_background { background-color: #7688a6; }
</style>
<div class="header_background">
  <h1>Voltron</h1>
</div>
<div class="all">
  <h2>Instructor: {{{name}}}</h2>
  <hr />
  <div class="register_student">
    <h3>
      Register a new student:
    </h3>
    <form action="/register-student" method="get" accept-charset="utf-8">
      <label>Student name:
        <p>
          <input name="name" />
        </p>
      </label>
      <input type="submit" value="Submit" />
    </form>
  </div>
  <hr />
  {{#if admin}}
    <div class="register_instructor">
      <h3>
        Register a new instructor:
      </h3>
      <form action="/register-instructor" method="get" accept-charset="utf-8">
        <label>Instructor name:
          <p>
            <input name="name" />
          </p>
        </label>
        <input type="submit" value="Submit" />
        <div>
          {{{message}}}
        </div>
      </form>
      {{#if message}}
        <p>
          {{{message_cntnt}}}
        </p>
      {{/if}}
    </div>
  {{/if}}
</div>