<style>
  .all { padding: 10px; } h1 { font-size: 50; display: inline; text-align:
  center; padding: 10px; } .header_background { background-color: #7688a6; }
  .failure { color: maroon } a {color: inherit; text-decoration: none;}
</style>
<div class="header_background">
  <a href="/">
    <h1>Voltron</h1>
  </a>
</div>
<div class="all">
  <h2>Login</h2>
  <form action="/view" method="get" accept-charset="utf-8">
    <label>User name:
      <p>
        <input name="name" />
      </p>
    </label>
    <input type="submit" value="Submit" />
  </form>
  {{#if failed}}
    <div class="failure">
      <h3>
        Login attempted failed. Please check your user name and try again.
      </h3>
    </div>
  {{/if}}
</div>