.instructor_list {
  overflow: auto;
  height: 250px;
  border: 1px solid #ccc;
  padding-left: 15px;
}
.instructor {
  padding-bottom: 5px;
}
.submit_button_box {
  padding-top: 20px;
}
.submit_button {
  padding-left: 20px;
  padding-right: 20px;
}
.error {
  color: maroon;
  padding-top: 10px;
  font-weight: bold;
}
